:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--very-light-gray);
}

.bg-orange{
    background-color: var(--bright-orange);
}

.bg-dark-cyan{
    background-color: var(--dark-cyan);
}

.bg-very-dark-cyan{
    background-color: var(--very-dark-cyan);
}

.text-orange{
    color: var(--bright-orange);
    border: 0.15rem solid var(--bright-orange);
}

.text-dark-cyan{
    color: var(--dark-cyan);
    border: 0.15rem solid var(--dark-cyan);
}

.text-very-dark-cyan{
    color: var(--very-dark-cyan);
    border: 0.15rem solid var(--very-dark-cyan);
}


.container{
    width: 62.5rem;
    height: 30rem;
    max-width: 90%;
    max-height: 90%;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
}

.container__card{
    flex: 1 1 33%;
    display:flex;
    flex-direction: column;
    padding: 3rem;
}

.container__card:nth-child(1){
    border-radius: 1rem 0 0 1rem;
}

.container__card:nth-child(3){
    border-radius:  0 1rem 1rem 0;
}

.container__card img{
    width: 4rem;
}

.container__card h1{
    font-family: 'Big Shoulders', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: -0.1rem;
    color: var(--very-light-gray);
    margin: 1.5rem 0;
}

.container__card p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    color: var(--transparent-white);
}

.container__card button{
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.9rem;
    background-color: var(--very-light-gray);
    border-radius: 2rem;
    padding: 1rem;
    width: 12rem;
    max-width: 12rem;
    margin-top: auto;
}

.container__card button:hover{
    cursor: pointer;
    background-color: inherit;
    color: white;
    border: 0.15rem solid var(--very-light-gray);
}

@media (max-width: 62.5rem){
    .container{
        flex-direction: column;
    }

    .container__card button{
        margin-top: 2rem;
    }

    .container__card:nth-child(1){
        border-radius: 1rem 1rem 0 0;
    }
    
    .container__card:nth-child(3){
        border-radius:  0 0 1rem 1rem;
    }
}
